/* Header css start*/
#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;

}

.leftside {
    display: flex;
    align-items: center;
    margin: 25px;
    padding-left: 160px;
}

.logo h1 {
    font-size: 24px;
}

nav {
    margin-left: 45px;
    display: flex;

}

ul {

    display: flex;
    list-style: none;
}

ul li {
    margin: 15px;

}

ul li a {
    font-size: 13px;
    color: #9E9AA8;

}

.rightside {
    display: flex;
    align-items: center;
    margin-right: 200px;

}

.rightside a {
    margin-right: 35px;
    color: #9E9AA8;
    font-size: 13px;
}

.rightside button {
    background: #2BD0D0;
    border-radius: 28px;
    padding: 10px 25px;
    color: white;
}

/* Header css end*/

/* SEctin 1 start*/
#link {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-between;
}

.link-content {
    width: 450px;
    margin: 70px 185px;
}

.link-content h1 {
    font-size: 50px;
}

.link-content p {
    color: #9E9AA8;
    font-size: 15px;
    margin-top: 10px;
    line-height: 30px;
}

.link-content button {
    padding: 10px 45px;
    background: #2BD0D0;
    border-radius: 28px;
    color: white;
    margin-top: 38px;
}

.link-img {
    margin-top: 25px;
}


.link-add {
    position: absolute;
    width: 1100px;
    height: 120px;
    left: 165px;
    top: 690px;
    background: #3A3054;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link-add input {
    width: 769px;
    height: 54px;
    border-radius: 10px;
    background-color: white;
    margin-left: 25px;


}

::placeholder {
    padding: 14px 36px;
    color: #34313D;
}

.link-add button {
    padding: 14px 45px;
    background: #2BD0D0;
    border-radius: 10px;
    margin-right: 55px;
    color: white;
}


/*Section 1 End*/

#advanced-statistic {
    background-color: #F2F2F2;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.statistic-content {
    text-align: center;
    width: 450px;
    margin-left: 350px;
}

.statistic-content h1 {
    color: #34313D;
    text-transform: capitalize;
    font-size: 35px;

}

.statistic-content p {
    text-align: center;
    margin-top: 18px;
    color: #9E9AA8;
    font-size: 15px;
}

.statistics {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;


}

.statistic1 {
    width: 350px;
    height: 267px;
    border-radius: 5px;
    background-color: white;
    margin: 15px;
    padding: 77px 32px;
    position: relative;

}

.statistic1 h1,
.statistic2 h1,
.statistic3 h1 {
    margin-bottom: 10px;
}

.statistic1 p,
.statistic2 p,
.statistic3 p {
    color: #9E9AA8;
    line-height: 28px;
    font-size: 14px;
}

.statistic2 {
    width: 350px;
    height: 267px;
    border-radius: 5px;
    background-color: white;
    margin: 15px;
    padding: 77px 32px;

    position: relative;
    top: 35px;
    position: relative;


}

.statistic3 {
    width: 350px;
    height: 267px;
    border-radius: 5px;
    background-color: white;
    margin: 15px;
    padding: 77px 32px;

    position: relative;
    top: 65px;
    position: relative;

}

.stat-item {
    background-color: #3A3054;
    padding: 15px;
    border-radius: 40px;
    position: absolute;
    top: -35px;
    left: 23px;


}

/* Boost Section start*/

#boost {
    background-color: #3A3054;
    height: 250px;
    text-align: center;
}
 .boost-content {
    position: relative;
    top :57px;

 }

 .boost-content h1{
    font-size: 35px;
    color :white;
    margin-bottom: 42px;
 }
 .boost-content button {
    background-color: #2BD0D0;
    color: #fff;
    border-radius: 28px;
    padding: 14px 40px;
    font-size: 15px;
   
 }